<table width="100%">
	
	<tr>
		<td></td>
		<td><%= button_to_function "Faster", "$.ajax({type: 'GET',  url: '/sphero/speed/20'})", :class => "btn btn-info" %></td>
		<td></td>
	</tr>

	<tr>
		<td><%= button_to_function "Left", "$.ajax({type: 'GET',  url: '/sphero/turn/-20'})", :class => "btn btn-info" %></td>
		<td><%= button_to_function "Stop", "$.ajax({type: 'GET',  url: '/sphero/stop/'})", :class => "btn btn-warning"  %></td>
		<td><%= button_to_function "Speed+", "$.ajax({type: 'GET',  url: '/sphero/turn/20'})", :class => "btn btn-info" %></td>
	</tr>
	
	<tr>
		<td></td>
		<td><%= button_to_function "Slower", "$.ajax({type: 'GET',  url: '/sphero/speed/-20'})", :class => "btn btn-info" %></td>
		<td></td>
	</tr>
	
</table>

<p>
<%= button_to_function "Sleep", "$.ajax({type: 'GET',  url: '/sphero/sleep/'})", :class => "btn btn-info" %>	
</p>